@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
  --blastic-dark-purple: #100020;
  --blastic-light-purple: #200040;
  --blastic-dark-lime: #408040;
  --blastic-light-lime: #80ff80;
  --blastic-dark-cyan: #408080;
  --blastic-light-cyan: #80ffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  vertical-align: inherit;
  background: none;
  border: none;
  outline: none;
}

html {
  font-weight: 400;
  font-family: "Concert One", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: var(--blastic-light-lime);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--blastic-dark-purple);
  overflow-x: hidden;
}

.home-link {
  display: block;
  float: left;
}

.home-link>img {
  float: left;
  width: 3rem;
  height: 3rem;
}

.home-link>div {
  float: left;
  font-size: 1.5rem;
  margin-top: 0.6rem;
}

ul.nav-bar {
  float: right;
}

ul.nav-bar>li {
  display: block;
  float: left;
}

ul.nav-bar>li>a {
  display: block;
  padding: 1rem;
  background-color: var(--blastic-dark-lime);
  border-bottom-style: solid;
  border-width: 0.125rem;
  border-color: var(--blastic-light-lime);
}

ul.nav-bar>li>a.home {
  border-left-style: solid;
  border-bottom-left-radius: 1rem;
}

ul.nav-bar>li>a.active {
  color: var(--blastic-dark-lime);
  background-color: var(--blastic-light-lime);
}

ul.nav-bar>li>a:hover:not(.active) {
  color: var(--blastic-light-cyan);
  background-color: var(--blastic-dark-cyan);
}

.banner {
  display: flex;
  float: left;
  clear: both;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  color: var(--blastic-light-cyan);
  background-color: var(--blastic-dark-cyan);
  border-radius: 1rem;
}

.banner>input[type="checkbox"] {
  display: none;
}

.banner:has(input[type="checkbox"]:checked) {
  display: none;
}

.banner>label {
  margin-left: 1rem;
  margin-top: 0.1rem;
  line-height: 1;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  text-align: center;
  color: var(--blastic-light-cyan);
  border-style: none;
  border-radius: 0.25rem;
}

.banner>label:hover {
  color: var(--blastic-dark-cyan);
  background-color: var(--blastic-light-cyan);
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
  gap: 1rem;
}

.content {
  margin: 0 auto;
  flex: 1 0 0;
  max-width: 64rem;
  overflow-wrap: break-word;
}

.sidebar {
  width: 12rem;
  max-width: 12.5%;
  overflow-wrap: break-word;
  border: 0.125rem dashed var(--blastic-light-purple);
}

footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  color: var(--blastic-dark-purple);
  background-color: var(--blastic-light-purple);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-align: center;
  color: var(--blastic-light-cyan);
  margin: 1em 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  margin: 1rem;
}

li {
  display: block;
}

.blob {
  padding: 1rem;
  width: min(100%, 48rem);
  margin: 1rem auto;
  color: var(--blastic-dark-purple);
  background-color: var(--blastic-light-lime);
  border-radius: 1rem;
}

.blob * {
  color: var(--blastic-dark-purple);
}

.blob p {
  color: var(--blastic-dark-lime);
  font-size: 0.75rem;
}

main a {
  text-decoration: underline;
}

.project-feature {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  text-decoration: none;
  color: var(--blastic-dark-purple);
  background-color: var(--blastic-light-cyan);
  border-radius: 1rem;
}

.project-feature>img {
  width: 100%;
}

.project-canvas-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  outline: 0.125rem solid var(--blastic-light-purple);
  outline-style: dashed;
}

canvas.project-canvas {
  display: block;
  width: 100%;
  background-color: var(--blastic-dark-purple);
}

button.fullscreen-button {
  display: block;
  margin-left: auto;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--blastic-dark-cyan);
  color: var(--blastic-light-cyan);
}

button.fullscreen-button:hover {
  background-color: var(--blastic-light-cyan);
  color: var(--blastic-dark-cyan);
}

@media screen and (max-width: 40rem) {
  .home-link {
    display: none;
  }

  ul.nav-bar {
    display: flex;
    width: 100%;
  }

  ul.nav-bar>li {
    width: 100%;
  }

  ul.nav-bar>li>a {
    font-size: calc(min(1rem, 5vw));
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  ul.nav-bar>li>a.home {
    border-left-style: none;
    border-bottom-left-radius: 0;
  }

  .sidebar {
    display: none;
  }
}
