<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="description" content="{{ site.description }}">
</head>

<body>
  <header>
    <a class="home-link" href="">
      <img class="icon" src="/assets/images/ProfilePictureTransparentZoom.png">
      <div class="title">{{ site.title }}</div>
    </a>
    <ul class="nav-bar">
      <li><a href="/" class="home tab {% if page.nav == 'home' %}active{% endif %}">Home</a></li>
      <li><a href="/projects" class="tab {% if page.nav == 'projects' %}active{% endif %}">Projects</a></li>
      <li><a href="/about" class="tab {% if page.nav == 'about' %}active{% endif %}">About</a></li>
      <li><a href="/blog" class="tab {% if page.nav == 'blog' %}active{% endif %}">Blog</a></li>
      <li><a href="/secrets" class="tab {% if page.nav == 'secrets' %}active{% endif %}">Secrets</a></li>
    </ul>
    <div class="banner">
      This site is still under construction!<input class="close" id="close-banner" type="checkbox"><label class="x" for="close-banner">&#x2715</label>
    </div>
  </header>
  <main>{{ content }}</main>
  <footer>I never understood the purpose of footers.</footer>
</body>

</html>
