<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="description" content="{{ site.description }}">
</head>

<body>
  <header>
    <a class="home-link" href="/">
      <img src="/assets/images/ProfilePictureTransparentZoom.png">
      <div>{{ site.title }}</div>
    </a>
    <ul class="nav-bar">
      <li><a href="/" class="home {% if page.nav == 'home' %}active{% endif %}">Home</a></li>
      <li><a href="/projects" class="{% if page.nav == 'projects' %}active{% endif %}">Projects</a></li>
      <li><a href="/about" class="{% if page.nav == 'about' %}active{% endif %}">About</a></li>
      <li><a href="/blog" class="{% if page.nav == 'blog' %}active{% endif %}">Blog</a></li>
      <li><a href="/secrets" class="{% if page.nav == 'secrets' %}active{% endif %}">Secrets</a></li>
    </ul>
    <div class="banner">
      This site is still under construction!
      <input id="close-banner" type="checkbox">
      <label for="close-banner">
        <svg
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </label>
    </div>
  </header>
  <main>
    <div class="sidebar"><p>Nothing here yet, sorry!</p></div>
    <div class="content">
      {{ content }}
    </div>
    <div class="sidebar"><p>Nothing here yet, sorry!</p></div>
  </main>
  <footer>I never understood the purpose of footers.</footer>
</body>

</html>
